body {
    background-color: black;
    margin: 0; 
    font-family: 'Karla';
}

p, h1, h2, h3, h4, h5, h6{
    font-family: 'Karla';
}

.center {
    margin: auto;
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.link{
    color: #838996;
    text-shadow: 1px 1px black;
}


.nav {
    overflow: hidden;
    background-color:black;
}
  
.nav a {
    float: left;
    top: 50%;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border: black; 
    border-radius: 5px;
}
  
.nav a:hover {
    background-color: #ffcc33;
    color: black;
}
  
.nav a.active {
    background-color: #ffcc33;
    color: black;
}
  
.nav .icon {
    display: none;
    color: #ffcc33;
}
  
@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .nav.responsive {position: relative;}
    .nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}

.content{
    margin: 2%; 
}
@media (min-width: 620px){
    .content{
        column-count: 1; 
        column-gap: 20px; 
    }

    section {
        break-inside: avoid; 
    }
}

@media (min-width: 960px){
    .content{
        column-count: 2; 
    }
}

section{
    background-color: #ffcc33;
    border:black;
    border-radius: 25px;
    overflow: hidden; 
    margin-bottom: 20px; 
    padding: 5px;
}

.title{
    font-size: 2em;
    color: black;
    text-shadow: 1px 1px silver; 
}

.subtitle{
    font-size: 1em;
    color: black;
    text-shadow: 1px 1px silver; 
}

.section-text{
    font-size: 1em;
    color: black; 
    text-shadow: 0.5px 0.5px silver;
}

.infograph{
    display: block; 
    padding: 1px; 
}

.infograph iframe{
    padding: 12px;
    border-color: #ffcc33;
    border-radius: 25px;
}

.circle-icon{
    background: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #ffcc33;
    text-align: center;
}

